<link rel="stylesheet" href="/css/sign_up.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
<div id="signUp-Container">

    <div id="signUp-message">
        
    </div>

   <div id="signUp-tempalte">
    <h1> Create Account <br><i class="fab fa-google"></i> </h1>
        <form id="signUp" action="/users/create" method="POST">
                <input type="text" name="name" placeholder="your name" required><br>
                <input type="email" name="email" placeholder="your email" required><br>
                <input type="password" name="password" placeholder="password" required><br>
                <input type="password" name="confirm_password" placeholder="confirm_password" required><br>
                <input type="submit" value="Sign Up" title="click here to signUp" >

        </form>
        <p id="googleSignLink"><a href="/users/auth/google"  title="click here to google signUp">Google Sign Up</a></p>
    </div>
    
</div>
