<link rel="stylesheet" href="/css/sign_in.css">
<div id="signIn-Container">
       
       <div id="signIn-message">
        
        </div>

        <div id="signIn-tempalte">
            <h1> Sign In to Codeial <br><i class="fa fa-user-circle" aria-hidden="true"></i> </h1>
                <form id="signIn" action="/users/create-session" method="POST">
                    <input type="email" name="email" placeholder="your email" required><br>
                    <input type="password" name="password" placeholder="password" required><br>
                    <input type="submit" value="Sign In" title="click here to signIn">

                </form>
            <p id="googleSignLink"><a href="/users/auth/google"  title="click here to google signIn">Google Sign In</a></p>
        </div>
</div>