body {
  margin: 0;
  background-color: #292a23;
  opacity: .7;
}

body #layout-main {
  min-height: 100vh;
  margin-bottom: 50px;
  background-color: #292a23;
}

@media only screen and (max-width: 600px) {
  body #layout-main {
    min-height: 80vh;
    margin-bottom: 0px;
  }
}
