body {
  box-sizing: border-box;
}

body .signup-container {
  padding: 20px;
}

body .signup-container .signup-content {
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: 40px;
  background-color: white;
  padding: 40px;
  border-radius: 2%;
}

body .signup-container .signup-content .signup-form {
  width: 350px;
  position: relative;
  top: -10px;
}

body .signup-container .signup-content .signup-form .form-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: black;
}

body .signup-container .signup-content .signup-form .form-group {
  border-bottom: 1px solid black;
  margin: 20px;
}

body .signup-container .signup-content .signup-form .form-group i {
  color: blue;
  font-size: .9rem;
}

body .signup-container .signup-content .signup-form .form-group .fa-envelope {
  font-size: 0.7rem !important;
}

body .signup-container .signup-content .signup-form .form-group input {
  background-color: none;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
}

body .signup-container .signup-content .signup-form .form-group ::placeholder {
  font-size: .9rem;
  color: #293c54;
  font-family: 'Lato', sans-serif;
}

body .signup-container .signup-content .signup-form .form-button {
  border-bottom: none !important;
  padding: 15px 0 0 210px;
}

body .signup-container .signup-content .signup-form .form-button input[type=submit] {
  background-image: linear-gradient(to right, red, orange, yellow, red);
  border: 2px solid yellow;
  margin: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #293c54;
  font-family: 'Lato', sans-serif;
  transition: ease-in;
}

body .signup-container .signup-content .signup-form .form-button input[type=submit]:hover {
  background-image: linear-gradient(to left, red, orange, yellow, red);
}

body .signup-container .signup-content .signup-image {
  width: 450px;
}

body .signup-container .signup-content .signup-image img {
  width: 375px;
  height: 400px;
}

body .signup-container .signup-content .signup-image .signup-image-link {
  text-decoration: none !important;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  left: 10%;
}

body .signup-container .signup-content .signup-image .signup-image-link:hover {
  color: blue;
}

@media only screen and (max-width: 600px) {
  body .signup-container {
    width: 80%;
    position: relative;
    top: 40px;
    padding-bottom: 200px;
  }
  body .signup-container .signup-content {
    width: 100%;
  }
  body .signup-container .signup-content .signup-form {
    order: 1;
    width: 100%;
  }
  body .signup-container .signup-content .signup-form .form-button {
    position: relative;
    left: 23%;
  }
  body .signup-container .signup-content .signup-image {
    order: 2;
    width: 90%;
  }
  body .signup-container .signup-content .signup-image .signup-image-link {
    position: relative;
    left: 4%;
  }
}
