body {
  box-sizing: border-box;
}

body .signin-container {
  padding: 20px;
}

body .signin-container .signin-content {
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: 40px;
  background-color: white;
  padding: 40px;
  border-radius: 2%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

body .signin-container .signin-content .signin-form {
  width: 350px;
  position: relative;
  top: -10px;
}

body .signin-container .signin-content .signin-form .form-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: black;
}

body .signin-container .signin-content .signin-form .form-group {
  border-bottom: 1px solid black;
  margin: 20px;
}

body .signin-container .signin-content .signin-form .form-group i {
  color: blue;
  font-size: .9rem;
}

body .signin-container .signin-content .signin-form .form-group .fa-envelope {
  font-size: 0.7rem !important;
}

body .signin-container .signin-content .signin-form .form-group input {
  background-color: none;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
}

body .signin-container .signin-content .signin-form .form-group ::placeholder {
  font-size: .9rem;
  color: #293c54;
  font-family: 'Lato', sans-serif;
}

body .signin-container .signin-content .signin-form .form-button {
  border-bottom: none !important;
  padding: 15px 0 0 215px;
}

body .signin-container .signin-content .signin-form .form-button input[type=submit] {
  background-image: linear-gradient(to right, red, orange, yellow, red);
  border: 2px solid yellow;
  margin: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #293c54;
  font-family: 'Lato', sans-serif;
  transition: ease-in;
}

body .signin-container .signin-content .signin-form .form-button input[type=submit]:hover {
  background-image: linear-gradient(to left, red, orange, yellow, red);
}

body .signin-container .signin-content .signin-form .socials i {
  background-image: linear-gradient(to right, red, orange, yellow, red);
  border: 2px solid yellow;
  margin: 2px;
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 10px;
  color: #293c54;
}

body .signin-container .signin-content .signin-form .socials i:hover {
  background-image: linear-gradient(to left, red, orange, yellow, red);
}

body .signin-container .signin-content .signin-image {
  width: 450px;
}

body .signin-container .signin-content .signin-image img {
  width: 375px;
  height: 400px;
}

body .signin-container .signin-content .signin-image .signin-image-link {
  text-decoration: none !important;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  left: 10%;
}

body .signin-container .signin-content .signin-image .signin-image-link:hover {
  color: blue;
}

@media screen and (max-width: 576px) {
  body .signin-container {
    width: 73%;
    position: relative;
    top: 40px;
    padding-bottom: 200px;
  }
  body .signin-container .signin-content {
    width: 100%;
  }
  body .signin-container .signin-content .signin-form {
    order: 1;
    width: 100%;
  }
  body .signin-container .signin-content .signin-form .form-button {
    padding: 5% 0 0 0;
    text-align: right;
  }
  body .signin-container .signin-content .signin-image {
    order: 2;
    width: 90%;
  }
  body .signin-container .signin-content .signin-image img {
    display: none;
  }
  body .signin-container .signin-content .signin-image .signin-image-link h4 {
    text-align: right;
  }
}
