body{
    
    #profile-container{
        padding:20px;
            position:relative!important;
             top:40px;
        
        .profile-display-container{
            border:2px dotted  black;
            margin:auto;
            max-width:50%;
            background-color:snow;
            // box-shadow: 1px 1px 2px 1px #eee;
             padding:40px;
             
            display:grid;
            grid-template-columns:1fr 4fr;
            grid-gap:10px;
            
            label{
                color:black;
                font-size:1.3rem;
                font-weight:bold

           }
           span{
               color:black;
           }

        }
        .profile-update-container{
        
                .modal {
                display: none; 
                position: fixed; 
                z-index: 1; 
                padding-top: 100px; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%; 
                overflow: auto; 
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0,0.4); 
                }

                /* Modal Content */
                .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                }

                /* The Close Button */
                .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                }

                .close:hover,
                .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                }
        }

        
    }
    @media only screen and (max-width: 600px) {
        #profile-container{
             position:relative!important;
             top:80px;
                .profile-display-container{
                    width:90%;
                    
                }
                .profile-update-container{
                    width:90%;
                    position:relative!important;
                   
                    z-index:12;
                }

        } 
    }
    
}